<div class="container mx-auto py-10 sm:px-6 lg:px-8 p-8 m">
    <h1 class="text-4xl text-white font-bold font-poppins text-center mb-8">My Experience</h1>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
      <div class="text-white p-6 rounded-lg shadow-md flex items-center bg-[#060606] border border-gray-600 hover:border-2 hover:border-[#1E6FE6] hover:bg-[url('/portfolio/src/assets/favicon.jpg')] duration-300">
        <img src="../../assets/zebaq.jpeg" alt="Skill Icon" class="w-16 h-16 mr-4">
        <div>
          <h2 class="text-2xl font-semibold font-poppins mb-2">zeba1</h2>
          <p class="text-gray-400 text-truncate">Lorem ipsum dolor sit amet, osam architecto?</p>
          <div class="mt-4">
            <span class="inline-block bg-gray-800 rounded-full px-3 py-1 text-sm font-semibold mr-2">fd</span>
            <span class="inline-block bg-gray-800 rounded-full px-3 py-1 text-sm font-semibold">fwf</span>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  