<div class="container mx-auto py-10 sm:px-6 lg:px-8 p-8 m">
  <h1 class="text-4xl font-bold font-poppins text-center mb-8">My Experience</h1>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
      <ng-container *ngFor="let item of experiences">
          <div class="text-white p-6 rounded-lg shadow-md flex flex-col border shadow-md transform transition-transform duration-300 hover:scale-105 hover:shadow-lg hover:border-[#1E6FE6] bg-gradient-to-r from-gray-900 to-gray-800">
              <div class="flex items-center mb-4">
                  <img [src]="item.logo" alt="Company Logo" class="w-16 h-16 mr-4 border shadow-md rounded-full transition-transform duration-300 hover:scale-110">
                  <div>
                      <h2 class="text-2xl text-white font-semibold font-poppins mb-1">{{item.company}}</h2>
                      <p class="text-gray-400 text-sm">{{item.duration}}</p>
                  </div>
              </div>
              <p class="text-gray-400 mb-4">{{item.description}}</p>
              <div class="mt-auto">
                  <div class="flex flex-wrap gap-2">
                      <span class="inline-block bg-blue-600 hover:bg-blue-800 rounded-full px-3 py-1 text-sm font-semibold transition-colors duration-300" *ngFor="let tech of item.technologies">{{tech}}</span>
                  </div>
              </div>
          </div>
      </ng-container>
  </div>
</div>
