.nav-link {
    position: relative;
    padding-bottom: 4px;
    transition: color 0.3s;
  }
  
  .nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 2px;
    right: 0;
    background: white;
    transition: width 0.3s ease;
    -webkit-transition: width 0.3s ease;
  }
  
  .nav-link:hover::after,
  .nav-link.active::after {
    width: 100%;
    left: 0;
    background: white;
  }
  
  .nav-link.active {
    color: white;
  }
  