<app-nav></app-nav>
<section class="m-0 p-0 h-screen overflow-hidden">
    <div class="relative h-screen w-screen overflow-hidden">
        <div class="absolute inset-0 z-0 bg-blue-500"></div> <!-- Change bg-blue-500 to your desired color -->
        <div class="relative z-10 flex items-center justify-center h-full">
            <h1 class="text-white text-4xl sm:text-5xl md:text-6xl lg:text-7xl xl:text-8xl 2xl:text-9xl font-bold font-poppins">Arpita Sahoo</h1>
        </div>
    </div>
</section>
<div class="container mx-auto">
    <app-testimonial></app-testimonial>
    <app-project></app-project>
    <app-experience></app-experience>
    <app-education></app-education>
</div>
<app-footer></app-footer>